In [1]:
import pandas as pd


read Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,fever,dry-cough,fatigue,sputum,breath,arthralgia,sore-throat,headache,chills,vomiting,nasal,age,prob
0,102,1,-1,0,-1,-1,0,-1,0,0,-1,1,1
1,101,-1,0,1,1,1,1,1,-1,1,-1,99,0
2,103,0,1,0,1,-1,1,1,0,1,0,35,0
3,100,0,0,1,-1,-1,0,-1,1,0,1,57,1
4,99,0,-1,1,1,0,1,1,1,1,1,2,1

In [4]:
df.tail()

,fever,dry-cough,fatigue,sputum,breath,arthralgia,sore-throat,headache,chills,vomiting,nasal,age,prob
2994,104,0,0,1,0,1,0,-1,0,1,1,72,1
2995,103,1,0,0,0,0,-1,1,-1,1,-1,49,0
2996,100,0,-1,1,0,-1,-1,1,0,1,1,75,0
2997,100,1,1,-1,1,1,1,1,1,1,1,58,1
2998,102,1,1,0,-1,1,1,1,0,0,-1,45,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fever        2999 non-null   int64
 1   dry-cough    2999 non-null   int64
 2   fatigue      2999 non-null   int64
 3   sputum       2999 non-null   int64
 4   breath       2999 non-null   int64
 5   arthralgia   2999 non-null   int64
 6   sore-throat  2999 non-null   int64
 7   headache     2999 non-null   int64
 8   chills       2999 non-null   int64
 9   vomiting     2999 non-null   int64
 10  nasal        2999 non-null   int64
 11  age          2999 non-null   int64
 12  prob         2999 non-null   int64
dtypes: int64(13)
memory usage: 304.7 KB

In [6]:
df['fever'].value_counts()

105    444
102    442
100    437
101    436
99     426
103    424
104    390
Name: fever, dtype: int64

In [7]:
df.describe()

,fever,dry-cough,fatigue,sputum,breath,arthralgia,sore-throat,headache,chills,vomiting,nasal,age,prob
count,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.00000,2999.000000,2999.000000
mean,101.982661,-0.013671,0.013671,0.030010,-0.039013,0.000333,0.003334,0.025342,-0.025675,0.009336,-0.01934,51.168389,0.506836
std,2.000425,0.813175,0.817675,0.814581,0.815223,0.805874,0.825294,0.820451,0.809183,0.818755,0.81654,29.157722,0.500037
min,99.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,1.000000,0.000000
25%,100.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,26.000000,0.000000
50%,102.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,52.000000,1.000000
75%,104.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,77.000000,1.000000
max,105.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,100.000000,1.000000

train test spliting

In [8]:
import numpy as np

In [46]:
def data_split(data,ratio):
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [47]:
shuffled = np.random.permutation(len(df))

In [48]:
print(len(shuffled[600::-1]))

601

In [49]:
train,test = data_split(df,0.2)

In [50]:
train

,fever,dry-cough,fatigue,sputum,breath,arthralgia,sore-throat,headache,chills,vomiting,nasal,age,prob
1567,105,0,1,1,-1,0,1,-1,0,1,1,45,0
1996,101,-1,0,1,1,-1,-1,-1,-1,-1,-1,11,0
1174,101,-1,1,1,-1,0,0,1,-1,-1,1,9,1
2236,102,-1,0,-1,-1,-1,1,0,1,1,-1,3,0
2038,104,0,-1,0,0,-1,1,0,1,0,-1,70,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1164,103,-1,-1,1,1,-1,1,-1,0,1,-1,46,0
500,101,1,1,-1,0,1,1,1,1,0,1,41,1
2989,100,0,0,-1,0,0,-1,0,-1,-1,0,39,0
421,102,0,0,1,0,0,-1,0,-1,-1,1,60,1
1829,105,1,1,1,1,0,0,0,1,1,1,63,0

In [51]:
test

,fever,dry-cough,fatigue,sputum,breath,arthralgia,sore-throat,headache,chills,vomiting,nasal,age,prob
1376,101,-1,0,0,1,1,-1,-1,0,1,0,68,1
1026,105,1,-1,-1,-1,1,1,0,-1,0,1,62,0
1380,101,0,1,0,-1,-1,-1,-1,-1,0,-1,90,1
2692,104,1,0,-1,1,1,-1,0,1,0,-1,70,0
1722,105,0,0,1,-1,0,0,0,-1,1,0,34,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2219,100,1,1,0,0,-1,-1,1,1,0,0,2,1
407,105,1,1,-1,-1,0,1,0,1,1,-1,49,0
1295,102,0,1,-1,1,0,1,0,0,1,1,10,0
2282,104,1,0,0,-1,1,1,-1,1,-1,1,91,0
1525,103,-1,1,0,1,1,0,0,-1,-1,1,32,0